name: Penguin CI Pipeline

on: [push]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.9"

      - name: Install Dependencies
        run: pip install -r requirements.txt

      # The Training Check
      - name: Test Model Training
        run: python train.py

      # --- NEW STEP: The Logic Check ---
      - name: Run Unit Tests
        run: pytest
